*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    transition-property: all;
    transition-duration: 300ms;

}
.header{
    background-color: #ccc;
    height: 50px;
    padding: 6px;

}

.btn-cart{
    display: flex;
    padding: 12px 32px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 32px;
    float: right;
    cursor: pointer;
}
.btn-cart:hover{
    background-color: #fff65f;
    color: black;
}

.buy-btn{
    display: flex;
    padding: 12px 32px;
    margin-top: 12px;
    font-size: 12px;
    background-color: white;
    border: 1px solid;
    outline: none;
    cursor: pointer;

}
.buy-btn:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);

}

.products{
    padding-top: 24px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.product-item{
    box-sizing: border-box;
    border: 1px solid;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

h3{
    margin-top: 12px;
}

